///   $original_name = date('ymd') . '-' . $uploadDoc->getClientOriginalName();

 if (!empty($this->uploadDoc)) {
            foreach ($this->uploadDoc as $uploadDoc) {

                $original_name = date('ymd') . '-' . $uploadDoc->getClientOriginalName();
                $file[]        = $uploadDoc->storeAs('gestion-privada', $original_name, 'public');
            }
            $gestion->file = json_encode($file);
            $gestion->update();
        }

///

 <form method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label><strong>Upload Files</strong></label>
      <div class="custom-file">
        <input type="file" name="files[]" multiple class="custom-file-input form-control" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
    </div>
    <div class="form-group">
      <button type="button" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"><i class="fa fa-fw fa-upload"></i> Upload</button>
    </div>
  </form>



<script type="text/javascript">
   $(".custom-file-input").change(function () {
        let n = $(this).index(".custom-file-input");
        $('.custom-file-label').eq(n).text(this.files[0].name);
    });
</script>
